* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto';
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

header {
  padding: 15px 0;
  background-color: #3E54AC;
  color: #fff;
  margin-bottom: 60px;
}

.menu,
.sub-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

li {
  list-style: none;
}

.sub-menu li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

/* SOBRE A LOJA */

.sobre-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  margin-bottom: 60px;
}

div img {
  width: 100%;
}

h2 {
  font-size: 2em;
  color: #3E54AC;
  border-bottom: 3px solid #3E54AC;
  margin-bottom: 30px;
  font-style: italic;
}

/* PRODUTOS */
.produtos-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
}


.produtos-conteudo img {
  background-color: #ECF2FF;
}

h3 {
  display: block;
  margin: 15px 0;
  font-size: 20px;
}

span {
  color: #635985;
}

button {
  width: 100%;
  background-color: #3E54AC;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
}

/* MEDIA 641 ATÉ 1023 */
@media screen and (min-width: 641px) and (max-width: 1023px) {
  .container {
    margin: 0 35px;
  }
  /* sobre */
  .sobre-conteudo {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 25px;
    /* margin-bottom: 60px; */
  }


  /* produtos */
  .produtos-conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  div img {
    width: 100%;
  }

  button {
    display: block;
    margin-bottom: 60px;
  }
}

/* MEDIA ATÉ 640 */

@media screen and (max-width: 640px){
  .container {
    margin: 0 35px;
  }

  header {
    margin-bottom: 20px;
  }

  h2{
    font-size: 18px;
  }

  /* sobre */
  .sobre-conteudo {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 25px;
    margin-bottom: 60px;
  }

  /* produtos */
  .produtos-conteudo {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }

  div img {
    width: 100%;
    margin-bottom: 20px;
  }

  button {
    display: block;
    margin-bottom: 60px;
  }

  h1{
    font-size: 18px;
  }
  .sub-menu li a {
    font-size: 12px;
  }
}